<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="photo orange arrow" src="../assets/images/group-photo-shoot.jpg">
</div>
<!-- <h2>Here is component trivia's area: </h2>
<oba-trivia></oba-trivia> -->
<ul>
  <li>
    <p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></p>
  </li>
</ul>